{{>layout/header}}
    <header>
        <p>SpringBoot Web Service</p>
    </header>
    {{#userName}}
        <article>
            <p><a href="/posts/save" class="link_reg" role="button">글 등록</a></p>
        </article>
        <article>
            Logged in as <span id="user"> [{{userName}}] </span> <a href="/logout" role="button" class="link_reg">Logout</a>
        </article>
        <article>
            <table class="table">
                <thead class="table-header">
                <tr class="table-header">
                    <th class="header__item"><a id="name" class="filter__link" href="#">번호</a></th>
                    <th class="header__item"><a id="name" class="filter__link" href="#">제목</a></th>
                    <th class="header__item"><a id="name" class="filter__link" href="#">내용</a></th>
                    <th class="header__item"><a id="name" class="filter__link" href="#">작성자</a></th>
                    <!--
                    <th class="header__item"><a id="name" class="filter__link" href="#">최종수정일</a></th>
                    -->
                </tr>
                </thead>
                <tbody class="table-content">
                {{#posts}}
                    <tr class="table-row">
                        <td class="table-data">{{id}}</td>
                        <td class="table-data"><a href="/posts/update/{{id}}" class="a_link">{{title}}</a></td>
                        <td class="table-data">{{content}}</td>
                        <td class="table-data">{{author}}</td>
                        <!--
                        <td class="table-data">{{modifiedDate}}</td>
                        -->
                    </tr>
                {{/posts}}
                </tbody>
            </table>
        </article>
    {{/userName}}

    {{^userName}}
        <a href="/oauth2/authorization/google" class="a_link">
            <div id="gSignInWrapper">
                <span class="label"></span>
                <div id="customBtn" class="customGPlusSignIn">
                    <span class="icon"></span>
                    <span class="buttonText">Sign in with Google</span>
                </div>
            </div>
        </a>
    {{/userName}}
{{>layout/footer}}