{{>layout/header}}
    <h1>스프링 부트로 시작하는 웹 서비스</h1>
    {{#userName}}
        <a href="/posts/save" class="a_link">글 등록</a>
        Logged in as <span id="user">{{userName}}</span>
        <a href="/logout" role="button" class="a_link">Logout</a>
        <table>
            <thead>
            <tr>
                <th>게시글번호</th>
                <th>제목</th>
                <th>내용</th>
                <th>작성자</th>
                <th>최종수정일</th>
            </tr>
            </thead>
            <tbody>
            {{#posts}}
                <tr>
                    <td>{{id}}</td>
                    <td><a href="/posts/update/{{id}}" class="a_link">{{title}}</a></td>
                    <td>{{content}}</td>
                    <td>{{author}}</td>
                    <td>{{modifiedDate}}</td>
                </tr>
            {{/posts}}
            </tbody>
        </table>
    {{/userName}}

    {{^userName}}
        <a href="/oauth2/authorization/google" class="a_link">Google Login</a>
    {{/userName}}
{{>layout/footer}}